<div class="container">
  <button type="button" class="btn btn-primary">Create a Date</button>
</div>
<div class="container">
    <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let date of dates; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ date.firstName }}</td>
      <td>{{ date.lastName}}</td>
      <td>{{ date.Appoint | date }}</td>
    </tr>
    </tbody>
  </table>
</div>